// design guideline
$bgMain: #1e2026;
$bgLighter: #45474e;
$bgLightest: #70727a;
$bgDarker: #101115;
$bgDarkest: #000000;
$green: #0ecb81;
$greenLighter: #61ffb1;
$greenDarker: #009954;
$red: #f6465d;
$redLighter: #ff7c8a;
$redDarker: #bd0034;
$primary: #aa8161;
$primaryLighter: #ddb08f;
$primaryDarker: #795437;

@font-face {
  font-family: "interRegular";
  src: url(./font/Inter-Regular.ttf);
}

@font-face {
  font-family: "interBold";
  src: url(./font/Inter-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "intreRegular", "Noto Sans TC", sans-serif;
  user-select: none;
}

body {
  background-color: $bgLighter;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: white;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: $primaryLighter;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.15em;
}
h4 {
  font-size: 1.25rem;
  letter-spacing: 0.05em;
}
h5 {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.15em;
}
h6 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.15em;
}
p {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  font-weight: 400;
}

nav {
  z-index: 100;
  background-color: $bgMain;
  height: 88px;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  .logo {
    width: 325px;
    padding-left: 40px;
  }
  .navRight {
    display: flex;
    align-items: center;
    padding-right: 40px;
  }
  a {
    margin: 2px 24px 0 0;
    cursor: pointer;
  }
  .button {
    padding: 4px 28px;
    margin-right: 24px;
    border: solid 1px $primaryLighter;
    cursor: pointer;
    border-radius: 50px;
    h5 {
      color: $primaryLighter;
    }
    &:hover {
      background-color: $primaryLighter;
      h5 {
        color: black;
      }
    }
  }

  .profilePhoto {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-image: url(../img/profilePhotoDemo.jpg);
    background-size: 100%;
    cursor: pointer;
  }
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;

  aside {
    height: calc(100% - 88px);
    position: fixed;
    margin-top: 88px;
    background-color: $bgDarker;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    ul {
      list-style: none;
      li {
        cursor: pointer;
        &:hover {
          background-color: $bgMain;
        }
      }
      li.active {
        color: $primary;
        &:hover {
          background-color: $bgDarker;
          cursor: default;
        }
      }
      h5 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        border-bottom: solid 1px $bgLightest;
      }
      .ulButton {
        border-top: solid 1px $bgLightest;
        border-bottom: 0;
      }
      li.noneSelect {
        cursor: default;
        color: $bgLighter;
        &:hover {
          background-color: $bgDarker;
        }
      }
    }
  }

  section {
    h2 {
      position: fixed;
      top: 530px;
      z-index: 5;
      animation: hideH2;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      @keyframes hideH2 {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 1;
        }

        99% {
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
    }
    overflow: hidden;
    display: flex;
    flex: 1 1 1607px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 0 0 15vw;
    .loadingBackground {
      position: absolute;
      background-color: #000000;
      width: 85vw;
      height: 100vh;
      z-index: 4;
      animation: hideLoadingbg;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      @keyframes hideLoadingbg {
        0% {
          opacity: 0.6;
        }
        50% {
          opacity: 0.6;
        }

        99% {
          opacity: 0;
          width: 85vw;
        }
        100% {
          opacity: 0;
          width: 0px;
        }
      }
    }

    .playGame {
      display: flex;
      flex-direction: column;

      .roulette {
        width: 3644px;
        top: -1615px;
        right: -89.2vw;
        position: relative;
        transition: all 5s;
        cursor: pointer;
      }

      .rouletteUnicorn {
        pointer-events: none;
        position: fixed;
        width: 364px;
        bottom: -480px;
        right: 33vw;
        animation: unicornUp 1s;
        animation-delay: 1.5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        @keyframes unicornUp {
          0% {
            bottom: -480px;
          }

          100% {
            bottom: -20px;
          }
        }
      }
    }
    #confetti {
      pointer-events: none;
      width: 105%;
      height: 100%;
      position: relative;
      top: 88px;
      left: -48.2vw;
    }
    #confettiMore {
      pointer-events: none;
      width: 105%;
      height: 100%;
      position: relative;
      top: 88px;
      left: -137.4vw;
    }
  }
}

// a = [];

// b = [] <- a.splice xxx
// c = [] <-- middle
// d = [] <--a.splice ooo

// const a === "111,222,333.4";
// const b = a.split(".");
// console.log(b) -> ["111,222,333", "4"];
// b[1] -> "4"
// let d = a;

// if (b[1].length = 1) {
//   d = a + "00"
// }
